sudo: required
language: python
python:
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'
services:
- docker
install:
- pip install tox
- pip install tox-travis
script:
- tox
branches:
  only: master
deploy:
  - provider: pypi
    distributions: sdist
    user: "trustpilot"
    password:
      secure: u1FS36dqQULYSse7vkQzNF08FU/1HThiCszCHL+eFPCrelgkkV7W164g5b778D1nErWePdhNTPD6JQhfnbiv3MVob13h73EN79cDRYQFKEdJaVvCpcXifUK1t03OriE9/iS13doypsx3QvF3W352ccJeFzgnHqIjXM9N8Znl6W2PzmYJJFVv/izAPx5iJY918SFS3KOc8X3MV0AVhntTb06zSVmfQzDHIFsu75D0zYw7qnmXdamgskqRMCoUdgZARJaTCLj1AsFV5Oj59e9flyGnoskWNwKee0c23Myadg0hmtSgP+duU0MrVY45XAgBhxx37xVtmWlYJXcbGmPvnqmuSHxHNLI+nEBLVF6Nxhmj+igfwgbm7YtsUGi842uax8inG4pNSwEQlR3YhZO+RS3psPf6k5pMIIRwO9jTTIg8VqM3ogACHIOhJQDBwAYUYWi/g5ePirpeD4hXrXW+F7LKHE/NrQm9+xYTirWIionb4p9TrTNPgm7o5/vuTqZ4WtWLOtLSm7mBeqD0DL4Vfscx16F9X2xsh901ExzGF0vHHPUinH37Sw5TE8V7oIfzy1Vgli0lWrrK7vWcpm3HfCvZQz0bUcmiNINmcRfVdK6icVANtfmWbBJFc6ny2hx47fqjB9C5FgvPhCxpjl2QtOEuf67ZT8o7YxQRyMj3hAM=
    on:
      repo: trustpilot/python-cireqs
      tags: false
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = "3.5"
    skip_cleanup: true

  - provider: releases
    api_key:
      secure: KOmwk0gAH4Zzy6LC+szWGmi1uw4Ehpm/VSMWbP2M0CrAEMMeIGvhBtR4FSEFJAb2SO4PXteShLT47bA3F0w4WSBDyShXMpvmrbfkcszyZdPc48LVyP+vbqa2MvHvJ7nMsSuVc+yXDGFCYtSZKH7jALl1W1d2gC3oVTgd/BYYvzBwoGB+WawdjysTB2uqezTOLjYUsNU7j03rilHdNGBBN2xHGhwV2IUN2eQj01Ie4hj4fkSW0wFzo74ul9YD/kdSER+kQMoLAsDTbxN2g91vEk9EFVEhapJKqyF7i9JdGbFOUSRo4WnQNIFUNNzoiXiPLVx5L/+vJBemVdG6BoLjSJXqO6rcxe0eIB3gHX8mIKJPLoOEqIsyCif93ZGTZAyKFYavo9EpWyU1HpXGITdmT3ktQbedzvwwKpueqsYfiS+CIf8WNQCm8EPdvCOnU3qIVQ7D0EK0INIZ97xhjKEACeyOTykyy/lW0y5+zqOgD8lWb0socLqZPRAGOmYNwjEH4GS+iEqsRSictMcnli4lDGmbRI0Kzx8lKQsezh6ziXY6p1Tt0qUv7wLGFESPsxErl6B1kQtOZAjH0bdo5eZMr9KxO40JoazuaPpvh1hZSPtGmxP9Epv8dkmZFyGrzHtdRT58OQQa4OOl1cA3lcWHwd+wr8iSohgw4h1dKbwgjdk=
    file: foo
    file_glob: true
    file: build/*
    skip_cleanup: true
    on:
      repo: trustpilot/python-cireqs
      tags: false
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = "3.5"
